
body{
    margin: 0px;
    background-color: rgb(216, 235, 252);
    font-family: 'Open Sans';
}

button{
    font-size: 16px;
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
}


.page-nav{
    background: url(images/baner.jpg);
    border: 1px solid black;
    position: relative;
}

.page-nav h1{
    margin:20px;
    color: white;
}

.button-checkout{
    background-color: white;
    color: black;
    border: 2px solid #000000;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-checkout:hover{
    background-color: #0e065a;
    color: white
}

.page-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

}

.product-container{
    margin: 12px;
    padding: 2px 1px;
    position: relative;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    background-color: rgb(0, 0, 0);
}

.product-container:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.9);
}
.product-container img{
    width: 250px;
}

.product-container2 img{
    width: 250px;
}
h2{
    margin: 22px;
    padding: 1px 1px;
    text-align: center;
    
  }




.button-add{
    
    background-color: white;
    color: black;
    border: 2px solid #000000;
    transition-duration: 0.4s;
    position: absolute;
    right: 15px;
    bottom: 10px;
}

.button-add:hover{
    background-color: #0e065a;
    color: white
}



